<footer>

    <div class="container mx-auto flex justify-between items-center py-6">
        <div class=" flex">
            <img src="img/logogaviota.png" width="100" height="50" alt="Logo">
        </div>
        <div>
            <p class="text-white">Todos los Derechos Reservados servistream.net © 2025
            </p>
        </div>
    </div>

</footer>