---
import PlayerTv from "./PlayerTv.astro"
---

<section class="mb-12">
    <div class="player container mx-auto grid grid-cols-12">
        <div class="col-[1/2]"></div>
        <div class="col-[2/12]">
            <PlayerTv/>
        </div>
        <div class="col-[12/-1]"></div>
    </div>
</section>
